<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<title>Approve Transaction</title>
</head>
<body>


	<div th:include="_navbar"></div>

	<br>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully made a
						payment!</div>
				</div>

				<h1>Approve Payment</h1>
				<form
					th:action="@{/approveTransactions/transaction/{id} (id=${payment.id})}"
					th:object="${payment}" method="post">

					<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
						th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
						error</p>



					<div class="form-group"
						th:classappend="${#fields.hasErrors('debitAccount')}? 'has-error':''">
						<label for="debitAccount" class="control-label">Debit
							Account</label> <input id="debitAccount" class="form-control"
							th:field="*{debitAccount}" readonly />
						<p class="error-message"
							th:each="error: ${#fields.errors('debitAccount')}"
							th:text="${error}">Validation error</p>
					</div>


					<div class="form-group"
						th:classappend="${#fields.hasErrors('creditAccount')}? 'has-error':''">
						<label for="creditAccount" class="control-label">Credit
							Account</label> <input id="creditAccount" class="form-control"
							th:field="*{creditAccount}" readonly />
						<p class="error-message"
							th:each="error: ${#fields.errors('creditAccount')}"
							th:text="${error}">Validation error</p>
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('amount')}? 'has-error':''">
						<label for="amount" class="control-label">Amount</label> <input
							id="amount" class="form-control" th:field="*{amount}" readonly />
						<p class="error-message"
							th:each="error: ${#fields.errors('amount')}" th:text="${error}">Validation
							error</p>
					</div>


					<div class="form-group"
						th:classappend="${#fields.hasErrors('currency')}? 'has-error':''">
						<label for="currency" class="control-label">Currency</label> <input
							id="currency" class="form-control" th:field="*{currency}"
							readonly />
						<p class="error-message"
							th:each="error: ${#fields.errors('currency')}" th:text="${error}">Validation
							error</p>
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('ref')}? 'has-error':''">
						<label for="ref" class="control-label">References</label> <input
							id="amount" class="form-control" th:field="*{ref}" readonly />
						<p class="error-message" th:each="error: ${#fields.errors('ref')}"
							th:text="${error}">Validation error</p>
					</div>

					<div
						style="display: flex; flex-direction: row; justify-content: space-around;">

						<div class="form-group">
							<button type="submit" name="action" value="save"
								class="btn btn-success">Approve Payment</button>

						</div>

						<div class="form-group">
							<button type="submit" name="action" value="cancel"
								class="btn btn-danger">Cancel Payment</button>

						</div>

					</div>



				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>

