<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Page</title>
</head>



<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<body>

	<div th:include="_navbar"></div>

	<br>
	<br>
	<br>





	<div class="jumbotron">
		<h1>
			Welcome <span sec:authentication="principal.username"></span>
		</h1>

	</div>

	<div sec:authorize="hasAuthority('USER')">This content is only
		shown to users.</div>





</body>
</html>